.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #eee;
}
.login-container .logo {
    width: 120px;
    position: absolute;
    top: 15px;
    right: 0;
}
.login-container .logo img {
    width: 100%;
}
.login-container .login-form {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
}
.login-container .login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.login-container .login-form form .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #ddd;
}
.login-container .login-form form .profile-img .file-upload {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0;
    cursor: pointer;
}
.login-container .login-form form .profile-img .icon-block {
    font-size: 50px;
    color: #fff;
}
.login-container .login-form form .profile-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #999;
}
.login-container .login-form form .profile-name .icon-block {
    position: absolute;
    left: 28px;
}
.login-container .login-form form .profile-name input {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    width: calc(100% - 40px);
    height: 40px;
    text-align: center;
}
.login-container .login-form form .profile-submit-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: none;
    background: #46c756;
    columns: #fff;
    border-radius: 5px;
    cursor: pointer;
}
